SYNTAGRUS_VERSION=2.16 # Версия датасета syntagrus. Доступны значения 2.16 | 2.3
DATASETS_FOLDER_PATH=/some/path/to/Datasets # Путь до общей родительской директории для всех датасетов
SYNTAGRUS_PATH=${DATASETS_FOLDER_PATH}/UD_Russian-SynTagRus-master_${SYNTAGRUS_VERSION} # Путь до датасета
SYNTAGRUS_TEXTS_PATH=${DATASETS_FOLDER_PATH}/UD_Russian-SynTagRus-master_${SYNTAGRUS_VERSION}/syntagrus_corpus_${SYNTAGRUS_VERSION}.txt # Путь до обьединенного текстового файла со всеми предложениями корпуса (Будет создан при выполнении скрипта dataset_creation.py)
TAIGA_PATH=${DATASETS_FOLDER_PATH}/UD_Russian-Taiga-master # Путь до датасета
TAIGA_TEXTS_PATH=${DATASETS_FOLDER_PATH}/UD_Russian-Taiga-master/taiga_corpus.txt # Путь до обьединенного текстового файла со всеми предложениями корпуса (Будет создан при выполнении скрипта dataset_creation.py)
DATA_SAVE_FILEPATH=/some/path/to/folder # Путь до директории сохранения чекпоинтов модели, а также метрик обучения и валидации
EXPERIMENT_NAME='ff_attention_MFP_500' # Наименование текущего эксперимента