DATASET_VERSION=2.16
DATASET_PATH=/Some/Path/UD_Russian-SynTagRus-master_${DATASET_VERSION} # to obtain this file execute "dataset_creation.ipynb"
CORPUS_TEXTS_FILEPATH=/Some/Path/UD_Russian-SynTagRus-master_${DATASET_VERSION}/corpus_${DATASET_VERSION}.txt # to obtain this file execute "dataset_creation.ipynb"